<%- include('header'); -%>
<div class="container contact">
    <div class="row">
        <div class="col-md-6">
            <h1>Contact The Period Society Haryana</h1>
        </div>
        <div class="col-md-6">
            <form action="mailto:bharatmalik1999@gmail.com" method="GET">
                <div class="form-group">
                  <input type="text" class="form-control" id="formName" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="formAddress" placeholder="Address">
                </div>
                <div class="form-group form-check-inline">
                    <input type="email" class="form-control" id="formEmail" placeholder="Email">
                </div><div class="form-group form-check-inline">
                    <input type="number" class="form-control" id="formMobile" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="formMessage" rows="3" placeholder="Message"></textarea>
                  </div>
                <button type="submit" class="btn btn-outline-danger" ac>Submit</button>
              </form>
        </div>
    </div>
</div>
<%- include('footer'); -%>